h1 {
  text-align: center;
}
h4 {
  display: block;
  text-align: center;
}
body {
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}

.block-quote {
  font-family: "Pacifico", cursive;
  display: block;
  text-align: center;
  max-width: 85%;
}
.card-1 {
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
  border: double;
  border-radius: 4px;
  border-width: 6px;
}
.card-2 {
  display: block;
  margin-left: 15px;
  margin-top: 6px;
}

.card-3 {
  display: block;
  margin-left: 725px;
  margin-top: 1px;
}
.chosenCity {
  display: block;
  text-align: center;
}
.city {
  display: block;
  text-align: center;
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
}
.container {
  max-width: 85%;
  max-height: 75%;
}
.col-m-8 {
  margin-left: 600px;
}
.date {
  display: inline-block;
  text-align: center;
}
.description {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
}
.five-day-projection {
  display: inline-block;
  text-align: center;
  margin-left: 2px;
}
.form {
  display: block;
  text-align: left;
  margin-top: 40px;
}
.gitHubLink {
  display: block;
  text-align: center;
  color: lightcoral;
}
.humidity {
  text-align: center;
  width: 20px;
}
.location-button {
  font-size: 20px;
}
.partlycloudy {
  width: 80px;
}
.quote {
  font-size: 40px;
}
.sunny {
  width: 80px;
}
.today-date {
  display: block;
  text-align: left;
  font-size: 18px;
  margin-left: 40px;
}

.weather-app {
  border: 10px;
  max-width: auto;
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}
.weatherlifestorms {
  position: relative;
  object-fit: cover;
  top: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
}
.wind-text {
  display: inline;
  text-align: center;
}
